<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form th:action="@{/tasks}" th:object="${task}" method="post">
      <label>Title</label>
      <input type="text" th:field="*{title}" />
      <p th:errors="*{title}"></p>
      <label>Description</label>
      <input type="text" th:field="*{description}">Description</input>
      <p th:errors="*{description}"></p>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
